@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #179A9E;
  --color-secondary: #179A9E;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-[#179A9E];
}

a:hover {
  @apply border-b-2 border-[#179A9E];
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.container {
  @apply bg-background h-full max-w-full flex flex-col gap-6 p-1 md:p-5 justify-center items-center text-sm md:text-base text-quaternary
}
